.consoles-section {
    background-color: var(--primary-color);
    margin: 7rem 3rem;
}

.consoles{
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;  
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr)); 
    gap: 5rem; 

    transition: .6s;
}

.console{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    box-sizing: border-box;

    background-color: var(--secondary-color);
    border: 1px solid var(--lineDetails-color);
    border-radius: 5px;
    padding: 1rem 3rem;
}

.console:hover{
    background-color: var(--lineDetails-color);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    transition: .6s;
}

.console:hover img{
    transform: translateY(-20px); /* Move a imagem 20px para cima */
    transition: transform .8s ease-in-out;
}

.console .console-title{
    margin: 0;
    text-align: center;
    font-family: var(--font-family-1);
}

.console .console-status{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding: 0.2rem 0.3rem;
}
.console .console-status span{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 0.3rem;
}

.console .disponivel{
    background-color: rgba(5, 155, 0, 0.384);
}

.console .disponivel span{
    background-color: rgb(5, 155, 0);
}

.console .indisponivel{
    background-color: rgba(155, 0, 0, 0.384);
}

.console .indisponivel span{
    background-color: rgb(155, 0, 0);
}

.console .console-img{
    position: relative;
    width: 15rem;
    z-index: 1;
}

.console .btn-console{
    width: 100%;
    font-size: 1rem;
    padding: 0.4rem;
}